body,html {
  height: 100%;
}

body{
  background-image: url('../img/background_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.clear{
  clear: both;
}

.jumbotron{
  padding: 2rem 2rem;
  background-color: #666;
  border-color: #555 !important;
}

  .jumbotron hr{
    border-color: #999;
    margin-top: 30px;
  }
  .jumbotron hr.left{
    float: left;
    width: 100%;
  }
  .jumbotron hr.right{
    float: right;
    width: 100%;
  }

  .jumbotron h3{
    color: rgb(165, 192, 223);
  }

  .jumbotron .top15{
    margin-top: 15px;
  }
  .jumbotron .top30{
    margin-top: 30px;
  }
  
  .jumbotron .no-padding{
    padding: 0;
  }

  .jumbotron p.connect{
    color: #bbb;
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
  }
  
  .jumbotron p.alternative-login{
    color: #bbb;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .jumbotron form .form-group label{
    color: #bbb;
    font-size: 13px;
    margin-bottom: 0;
  }

  .jumbotron form .form-group input{
    font-size: 12px;
  }

  .jumbotron form .form-check-input{
    margin-top: .2rem;
  }

  .jumbotron form .form-check{
    color: #bbb;
    font-size: 12px;
    line-height: 17px;
  }

  .jumbotron form .form-check a{
    text-decoration: underline;
    color: #bbb;
  }


